{% extends 'base.html' %}  

{% block title %}{{ object.name }}{% endblock %}

{% block content %} 

    {% if request.user.is_authenticated %}

        <h2>{{ object.name }}</h2>
        <p><strong>Author:</strong> {{ recipe.author }}</p> 
        <p><strong>Created:</strong> {{ recipe.created_on }}</p>
        <p><strong>Updated:</strong> {{ recipe.updated_on }}</p>
        
        {% for img in object.images.all %}
            {% if img.image %}
                <img src="{{ img.image.url }}" alt="{{image.description}}" style="max-height:300px;">
            {% endif %}
        
            {% empty %}
            <a href="/recipe/{{ object.pk }}/add_image">
                <strong>Upload a new image for this recipe</strong>
            </a>
        {% endfor %}

        <ul>
            {% for ingredient in object.ingredients.all %}
                <li>{{ ingredient.quantity }} of {{ ingredient.ingredient.name }}</li>
            {% endfor %}
        </ul>

    {% else %}
        <p>You must be logged in to view this page.</p>
    {% endif %}
{% endblock %}
